name: Rust

on: [push]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-12-large]
        include:
          - os: macos-12-large
            args: --exclude v4l2
    steps:
    - uses: actions/checkout@v1
    - name: Set Up Linux
      if: startsWith(matrix.os, 'ubuntu-')
      run: |
        sudo apt-get update && sudo apt-get install -y nasm libavcodec-dev libavfilter-dev libavformat-dev libavutil-dev libswscale-dev
        git clone https://github.com/mirror/x264.git x264-mirror
        (cd x264-mirror && git checkout 5db6aa6cab1b146e07b60cc1736a01f21da01154 && ./configure --disable-cli --enable-static && make -j && sudo make install)
        git clone https://github.com/ultravideo/kvazaar.git
        (cd kvazaar && git checkout 8143ab971cbbdd78a3ac12cf7904209e1db659c6 && ./autogen.sh && ./configure && make -j && sudo make install)
    - name: Set Up macOS
      if: startsWith(matrix.os, 'macos-')
      run: |
        echo "LIBCLANG_PATH=/Library/Developer/CommandLineTools/usr/lib/libclang.dylib" >> $GITHUB_ENV
        brew install kvazaar x264 ffmpeg@4
        brew link ffmpeg@4
    - name: Install Rust
      uses: actions-rs/toolchain@v1
      with:
        toolchain: 1.77.2
        components: clippy
        override: true
    - name: Build
      uses: actions-rs/cargo@v1
      with:
        command: build
        args: --verbose --workspace --exclude xilinx --features srt/async ${{ matrix.args }}
    - name: Lint
      run: cargo clippy --workspace --exclude xilinx --features srt/async --all-targets ${{ matrix.args }} -- --deny warnings
    - name: Test
      uses: actions-rs/cargo@v1
      with:
        command: test
        args: --verbose --workspace --exclude xilinx --all-features --exclude xcoder-quadra --exclude xcoder-logan --exclude v4l2 --exclude rkmpp ${{ matrix.args }}
  test_xcoder_logan:
    name: Test xcoder-logan
    runs-on:
      - self-hosted
      - netint-t408-310X2013
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          lfs: true
      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: 1.77.2
          override: true
      - name: Initialize
        run: |
          init_rsrc_logan || true
      - name: Test
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --verbose -p xcoder-logan -p xcoder-logan-310-sys -- --test-threads=1
  test_xcoder_logan_v2_compat:
    name: Test xcoder-logan v2-compat
    runs-on:
      - self-hosted
      - netint-t408-251X1E09
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          lfs: true
      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: 1.77.2
          override: true
      - name: Initialize
        run: |
          init_rsrc || true
      - name: Test
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --verbose -p xcoder-logan -p xcoder-logan-259-sys --features v2-compat -- --test-threads=1
  test_xcoder_quadra:
    name: Test xcoder-quadra
    runs-on:
      - self-hosted
      - netint-quadra
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          lfs: true
      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: 1.77.2
          override: true
      - name: Initialize
        run: |
          init_rsrc || true
      - name: Test
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --verbose -p xcoder-quadra -p xcoder-quadra-sys -- --test-threads=1
